<p class="contactinfo"><a href="{{ "#bio" | relURL }}">Bio</a></p>
{{ with .Site.Data.working_papers }}
<p class="contactinfo"><a href="{{ "#working-papers" | relURL }}">Working Papers</a></p>
{{ end }}
{{ with .Site.Data.publications }}
<p class="contactinfo"><a href="{{ "#publications" | relURL }}">Publications</a></p>
{{ end }}
{{ with .Site.Data.work_in_progress }}
<p class="contactinfo"><a href="{{ "#work-in-progress" | relURL }}">Work in Progress</a></p>
{{ end }}
{{ with .Site.Data.other_writing }}
<p class="contactinfo"><a href="{{ "#other-writing" | relURL }}">Other Writing</a></p>
{{ end }}
{{ with .Site.Data.code }}
<p class="contactinfo"><a href="{{ "#code" | relURL }}">Code</a></p>
{{ end }}
{{ with .GetPage "/sections/contact.md" }}
<p class="contactinfo"><a href="{{ "#contact" | relURL }}">Contact</a></p>
{{ end }}
{{ with .GetPage "/sections/advising-teaching.md" }}
<p class="contactinfo"><a href="{{ "#advising-teaching" | relURL }}">Advising and Teaching</a></p>
{{ end }}
{{ with .GetPage "/sections/personal.md" }}
<p class="lastcontactinfo"><a href="{{ "#personal" | relURL }}">Personal</a></p>
{{ end }}
