<p class="contactinfo"><a href="{{ "/" | relURL }}">Home</a></p>
{{ with .Site.Data.working_papers }}
<p class="contactinfo"><a href="{{ "/research/" | relURL }}">Research</a></p>
{{ end }}
{{ with .Site.Data.other_writing }}
<p class="contactinfo"><a href="{{ "/other-writing/" | relURL }}">Other Writing</a></p>
{{ end }}
<p class="contactinfo"><a href="{{ "/teaching/" | relURL }}">Teaching</a></p>
{{ with .Site.Data.code }}
<p class="lastcontactinfo"><a href="{{ "/code/" | relURL }}">Code</a></p>
{{ end }}
