
{{ define "main" -}}
<h2 id="bio">Bio</h2>
{{ with .GetPage "/sections/about.md" }}
{{ .Content }}
{{ end }}

<hr>
<h2 id="updates">Updates</h2>
{{ with .GetPage "/sections/updates.md" }}
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/contact.md" }}
<hr>
<h2 id="contact">Contact</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/advising.md" }}
<hr>
<h2 id="advising">Advising</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/personal.md" }}
<hr>
<h2 id="personal">Personal</h2>
{{ .Content }}
{{ end }}

{{ .Content }}
{{- end }}
